@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
//live sass compiler added to vs code extensions.
* {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  text-decoration: none;
}

$yellow: #eacf4f;
$white: #fff;
$black: #000;
$light-color: #aaa;
$border: 0.2rem solid rgba(255, 255, 255, 0.3);

@mixin title-text($titleSize) {
  font-size: $titleSize;
  text-transform: uppercase;
  color: $white;
}
@mixin grap-text($grapSize) {
  font-size: $grapSize;
  line-height: 2;
  color: $light-color;
}
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 1rem;
  }
}

body {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

.header {
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .icons {
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $yellow;
    }
  }
  #menu-btn {
    display: none;
  }
  .navbar {
    a {
      color: $white;
      font-size: 2rem;
      margin: 0 2rem;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 1rem;
        color: $yellow;
      }
    }
    .space {
      display: inline-block;
      width: 20rem;
    }
  }

  .logo {
    position: absolute;
    top: 4.5rem;
    left: 41.5%;
    transform: translateY(-50%);

    img {
      width: 18rem;
    }
  }

  .search-box {
    height: 7rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: $black;
    border-top: $border;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    input {
      width: 100%;
      text-transform: none;
      font-size: 1.6rem;
      color: $white;
      background: none;
    }
  }
  .fa-times {
    transform: rotate(180deg);
  }
}

//media queries

@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 3rem;
    justify-content: flex-end;
    gap: 2rem;

    .logo {
      // transform: translateX(0);
      margin-left: 2rem;
      left: 0;
    }

    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: $black;

      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      a {
        display: block;
        margin: 2rem;
      }
      .space {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

// 23 minutes onwards
